/* =========== MEDIA QUERIES ========== */
/* ========== MEDIUM DEVICES ========== */
@media screen and (max-width: 1024px) {
  .container {
    width: $container-md;
  }

  section {
    & > p {
      width: 55%;
    }
  }
}
/* ========== SMALL DEVICES ========== */

@media screen and (max-width: 600px) {
  section {
    & > p {
      width: $container-md;
    }
  }
}
