// Colors
$primary-color: #3a1078;
$secondary-color: #512b81;
$tertiary-color: #4477ce;
$color-brand-1: #4e31aa;
$color-brand-2: #2f58cd;
$color-brand-3: #3795bd;
$dark-grey: #333333;
$light-grey: #d2d2d2;
$color-grey-scale-grey-0: #0b0d0d;
$color-grey-scale-grey-1: #212529;
$color-grey-scale-grey-2: #495057;
$color-grey-scale-grey-3: #868e96;
$color-grey-scale-grey-4: #adb5bd;
$color-grey-scale-grey-5: #ced4da;
$color-grey-scale-grey-6: #dee2e6;
$color-grey-scale-grey-7: #e9ecef;
$color-grey-scale-grey-8: #f1f3f5;
$color-grey-scale-grey-9: #f8f9fa;
$color-grey-scale-grey-10: #fdfdfd;
$color-colors-fixed-white: #ffffff;
$color-colors-fixed-black: #000000;

$dark-blue-text: #272341; // For Headings
$success-color: #54eb72;

// typography
$heading-1: 2.75rem;
$heading-2: 2.25rem;
$heading-3: 2rem;
$heading-4: 1.75rem;
$heading-5: 1.5rem;
$heading-6: 1.25rem;
$heading-7: 1rem;

$body-1: 1rem;
$body-2: 0.875rem;

$button-big-text: 1rem;
$button-medium-text: 0.875rem;

$input-placeholder: 1rem;
$input-label: 0.875rem;

$default-font-size: 1.6rem;

// weights
$bold-weight: 700;
$semi-bold-weight: 600;
$medium-weigth: 500;
$regular-weigth: 400;
$light-weigth: 300;

//container
$container-lg: 82%;
$container-md: 90%;

